[Desktop Entry]
Type=Application
Name=soil
Exec=xterm -hold -e '/usr/bin/python3 /home/pi/droneponics/soil.py'
@echo key F11 | xte # simulate pressing the full screen key
@xset s noblank
@xset s off
@xset -dpms
@lxpanel --profile LXDE-pi
@pcmanfm --desktop --profile LXDE-pi
